<%- include('partials/header'); -%>

<div class="profile_header">
  <h1><i class="fas fa-user-alt"></i> Profile Page</h1>
</div>

<div class="profile_container container-flex">
  <div class="photo">
    <div class="profile_photo">
      <img src="<%= user.imageURL %> " alt="" id="img-preview" />
      <label class="file-upload-container" for="file-upload">
        <input id="file-upload" style="display: none" type="file" />
        Select an Image
      </label>
    </div>
  </div>

  <div class="profile_form">
    <form>
      <label for="name"><i class="fas fa-user-friends"></i> Username</label>
      <input
        type="text"
        name="name"
        required
        autocomplete="off"
        value="<%= user.name %>"
      />
      <div class="name error"></div>

      <label for="email"><i class="fas fa-envelope"></i> Email</label>
      <input
        type="text"
        name="email"
        readonly
        autocomplete="off"
        value="<%= user.email %>"
      />
      <label for="role"><i class="fas fa-briefcase"></i> Role</label>
      <input
        type="text"
        placeholder="(Student,Teacher,Developer etc...)"
        name="role"
        required
        autocomplete="off"
        value="<%= user.role %>"
      />
      

      <label for="pno"><i class="fas fa-phone-alt"></i> Contact Number</label>
      <input
        type="text"
        name="pno"
        required
        autocomplete="off"
        value="<%= user.pno %>"
      />
     
      <input
        type="text"
        name="id"
        value="<%= user._id %>"
        style="display: none"
      />
      <button>Update</button>
    </form>
  </div>
</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  
  const CLOUDINARY_URL = "https://api.cloudinary.com/v1_1/dfinqrdwj/upload";
  var CLOUDINARY_UPLOAD_PRESET = "igosuctc";

  var imagePreview = document.getElementById("img-preview");
  var fileUpload = document.getElementById("file-upload");
  let imageURL;

  fileUpload.addEventListener("change", function (e) {
    var file = e.target.files[0];
    var formData = new FormData();
    formData.append("file", file);
    formData.append("upload_preset", CLOUDINARY_UPLOAD_PRESET);
    axios({
      url: CLOUDINARY_URL,
      method: "POST",
      data: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
      data: formData,
    })
      .then(function (res) {
        console.log(res);
        imagePreview.src = res.data.secure_url;
        imageURL=res.data.secure_url;
      })
      .catch(function (err) {
        console.log(err);
      });
  });

  const form = document.querySelector("form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    //get values
    var imagePreview = document.getElementById("img-preview");

    const name = form.name.value;
    const role = form.role.value;
    const pno = form.pno.value;
    const id = form.id.value;
    const imageURL=imagePreview.src;
    

    try {
      const res = await fetch("/profile", {
        method: "PUT",
        body: JSON.stringify({ name, role, pno, id, imageURL }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      if (data) {
        window.location.href = data.redirect;
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>



<%- include('partials/footer'); -%>
